{% extends 'base.html' %}

{% block extra_head %}
<style type="text/css">
	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}

	.btn {
		width: 200px;
		margin:10px;
	}
</style>

{% endblock extra_head %}


{% block content %}
{% include 'sidebar.html' %}
<div class = "note-container">
	{% if current_note.title %}
		<h2>{{ current_note.title }}</h2>
	{% else %}
		<h2>Note</h2>
	{% endif %}
	<h4 style="margin:50px 0px 50px 0px;">{{ current_note.content }}</h4>
	<a href="{% url 'notes:edit' id=current_note.id %}" class="btn btn-default btn-lg active" role="button">Edit</a>
	<a id="triggerEvent" data-target="#myModal" class="btn btn-danger btn-lg" type="button">Delete</a>
</div>


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>				
				<h4 class="modal-title">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete this note? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button id="newBtn" type="button" class="btn btn-danger" data-href="{% url 'notes:delete-note' id=current_note.id %}">Delete</button>
			</div>
		</div>
	</div>
</div>   
{% endblock content %}


{% block extra_scripts %}
<script type="text/javascript">
$(document).ready(function(){
$('#triggerEvent').click(function(e) {
        e.preventDefault();
        $('#myModal').modal();
    });
 $("#newBtn").on("click",function(){
 var postData = {csrfmiddlewaretoken: '{{ csrf_token }}'}
    $.ajax({
             url : $(this).attr("data-href"),
             type: 'DELETE',
             dataType: "json",
             data: postData,
             success: function (data, textStatus, xhr) {  
                         console.log(data);
                         location.reload();  
                     },  
                     error: function (xhr, textStatus, errorThrown) {  
                         console.log('Error in Operation');  
                     }
                 });
 })
});

</script>

{% endblock extra_scripts %}
