<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand glyphicon glyphicon-list-alt">
    </a>
  </div>
  <ul class="nav navbar-nav">
    <li><a class="navbar-brand" href="/">
    <strong>Note Sea</strong>
  </a></li>
  {% if request.user.is_authenticated %}
  <li><a href="{% url 'notes:create-note' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp; Create new note</a></li>
  {% endif %}
  </ul>
  <ul class="nav navbar-nav navbar-right">
  {% if request.user.is_authenticated %}
  <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-user"></span>&nbsp; Change password</a></li>
  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Logout</a></li>
  {% else %}
      <li><a href="{% url 'notes:signup' %}"><span class="glyphicon glyphicon-user"></span>&nbsp; Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>