<nav class="navbar navbar-fixed-top navbar-expand-md navbar-inverse">
  <div class="topnav" id="myTopnav">
  <a href="/" class="active">NoteSea</a>
  {% if request.user.is_authenticated %}
  
  <a style="float:right;" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Logout</a>
  <a style="float:right;" href="{% url 'password_change' %}"><span class="glyphicon glyphicon-user"></span>&nbsp; Change password</a>
  <a style="float:right;" href="{% url 'notes:create-note' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp; Create new note</a>
  {% else %}
      <a style="float:right;" href="{% url 'notes:signup' %}"><span class="glyphicon glyphicon-user"></span>&nbsp; Sign Up</a>
      <a style="float:right;" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a>
    {% endif %}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <span class="glyphicon glyphicon-th-list"></span>
  </a>
  </div>

</nav>
